---
layout: default
---


Como cada fabricante publica dados em ciclos diferentes, para fazer a
comparação de forma mais coerente foram feitas conversoes entre os ciclos.

Essas conversões utilizam os indices indicados em <a
href="https://insideevs.com/features/343231/heres-how-to-calculate-conflicting-ev-range-test-cycles-epa-wltp-nedc/">insideevs.com</a> 


Para o caso do PBEV ainda não são feitas conversões, mas por utilizar a
mesma norma do EPA teoricamente o PBEV deveria ser 30% menor pois dizem que
deve ser aplicado o fator de redução de 30%

A autonomia PBEV é calculada pela capacidade total de bateria e o consumo
divulgado na tabela do <a
href="https://www.gov.br/inmetro/pt-br/assuntos/avaliacao-da-conformidade/programa-brasileiro-de-etiquetagem/tabelas-de-eficiencia-energetica/veiculos-automotivos-pbe-veicular">PBEV</a>


<a href="https://useeletrico.com/2023/01/25/abve-confirma-e-explica-nova-medicao-de-autonomia-de-eletricos-e-hibridos-no-brasil/">Entrevista Adalberto Maluf- ABVE</a>
