---
layout: default
table-sorter: true
---

<script>
$(function() {
 $("#vehicles").tablesorter({
         widgets : ['zebra', 'filter', 'stickyHeaders', 'resizable', 'sort2Hash', 'storage', 'math','output'],
         showProcessing : true,
         usNumberFormat : false,
         widgetOptions : 
         	{ 
                        math_mask : '###0.00',

         	 }
  });
});

</script>
<div class="home">

<h1 class="page-heading">Revisões Veículos Elétricos</h1>
<table id="vehicles" border="1">
<thead>
<tr>
<th>tipo</th>
<th class="columnSelector-disable">Veículo</th>
<th>10000km<br>(R$)</th>
<th>20000km<br>(R$)</th>
<th>30000km<br>(R$)</th>
<th>40000km<br>(R$)</th>
<th>50000km<br>(R$)</th>
<th>60000km<br>(R$)</th>
<th>Total<br>(R$)</th>
<th>Data</th>
<th>Observações</th>
</tr>
</thead>
{% for hash in site.data.vehicles %}
{% assign id = hash[0] %}
{% assign v = hash[1] %}
  {% if v.revisoes %}
  <tr> 
    <td data-math="ignore">{{ v.type }}</td><td data-math="ignore"><a href="vehicles/{{ id }}.html">{{ v.name }}</a></td>
    {% assign valor = v.revisoes.valores[10000] %} <td align="right">{% include numf.html number=valor decimals=2 %}</td>
    {% assign valor = v.revisoes.valores[20000] %} <td align="right">{% include numf.html number=valor decimals=2 %}</td>
    {% assign valor = v.revisoes.valores[30000] %} <td align="right">{% include numf.html number=valor decimals=2 %}</td>
    {% assign valor = v.revisoes.valores[40000] %} <td align="right">{% include numf.html number=valor decimals=2 %}</td>
    {% assign valor = v.revisoes.valores[50000] %} <td align="right">{% include numf.html number=valor decimals=2 %}</td>
    {% assign valor = v.revisoes.valores[60000] %} <td align="right">{% include numf.html number=valor decimals=2 %}</td>
  {% if v.revisoes.valores %}
    <td align="right" data-math="row-sum">total</td>
  {% else %}
    <td align="right"></td>
  {% endif %}
    
    <td data-math="ignore">{{ v.revisoes.data-valores }}</td>
    <td data-math="ignore">{{ v.revisoes.obs }}</td>
  </tr>
  {% endif %}
{% endfor %}
<tfoot>
<tr>
</tr>
</tfoot>
</table>

</div>
