---
layout: default
---

<br>Tipo : {{ page.vehicle.type }}
<br>Nome : {{ page.vehicle.name }}
<br>Ano do Modelo : {{ page.vehicle.my }}
{% if page.vehicle.price-br %}
<br>Preço : R$ {% include numf.html number=page.vehicle.price-br %} / {{ page.vehicle.price-br-date }}
{% endif %}


<br>Motor : {{ page.vehicle.ev-engine-power }} HP 
/ {{ page.vehicle.ev-engine-power-kw }} kW
/ {{ page.vehicle.ev-engine-torque }} Nm 
/ {{ page.vehicle.drivetrain-type }}
<br>Peso kg : {{ page.vehicle.weight }}
<br>Peso/Potencia kg/HP : {% include numf.html number=page.vehicle.ev-weight-power %}
<br>Velocidade Máxima : {{ page.vehicle.max-speed }} km/h

<br>Capacidade Bateria : {% include numf.html number=page.vehicle.battery decimals=0 %} Wh
{% if page.vehicle.battery != page.vehicle.battery-usable %}
 / Util :
{% include numf.html number=page.vehicle.battery-usable decimals=0 %} Wh
 / Buffer : {% include numf.html number=page.vehicle.battery-buffer decimals=0 %} Wh
{% endif %}

{% if page.vehicle.battery-maker %}
<br>Fabricante Bateria : {{ page.vehicle.battery-maker }} 
{% endif %}
{% if page.vehicle.battery-warranty-br-years %}
<br>Garantia Bateria anos : {{ page.vehicle.battery-warranty-br-years }} 
{% endif %}
{% if page.vehicle.battery-warranty-br-km or page.vehicle.battery-warranty-br-km-note %}
<br>Garantia Bateria km : {% include numf.html number=page.vehicle.battery-warranty-br-km decimals=0 %} {{ page.vehicle.battery-warranty-br-km-note }}
{% endif %}
{% if page.vehicle.battery-warranty-br-note %}
<br>{{ page.vehicle.battery-warranty-br-note }}
{% endif %}
{% if page.vehicle.battery-colling %}
<br>Refrigeração Bateria : {{ page.vehicle.battery-colling }} 
{% endif %}

<br>Autonomia : 
{% if page.vehicle.range-pbev %}
{% include numf.html number=page.vehicle.range-pbev decimals=0 %} km PBEV 
/  {% include numf.html number=page.vehicle.range-pbev-descontado decimals=0 %} km PBEV - 30% (dizem que tem que reduzir 30%....)
/ 
{% endif %}
{% include numf.html number=page.vehicle.range-epa decimals=0 %} km EPA 
/ {% include numf.html number=page.vehicle.range-wltp decimals=0 %} km WLTP 
/ {% include numf.html number=page.vehicle.range-ndec decimals=0 %} km NDEC
<br>Valores não divulgados de autonomia EPA / WLTP / NEDC são <a
href="../conversoes.html">convertidos</a>
{% if page.vehicle.range-notes-br %}
<br>{{ page.vehicle.range-notes-br }}
{% endif %}
{% if page.vehicle.pbev-km-l-cidade %}
<br>Consumo PBEV km/l convertido - Cidade : {{ page.vehicle.pbev-km-l-cidade }}
- Estrada {{ page.vehicle.pbev-km-l-estrada }}
{% endif %}

<br>Consumo  (kWh/100km): 
{% if page.vehicle.consumption-kwh-100km-pbev %}
{% include numf.html number=page.vehicle.consumption-kwh-100km-pbev %} (PBEV)
/
{% endif %}
{% include numf.html number=page.vehicle.consumption-kwh-100km-epa %} (EPA)
/
{% include numf.html number=page.vehicle.consumption-kwh-100km-wltp %} (WLTP)
/
{% include numf.html number=page.vehicle.consumption-kwh-100km-ndec %} (NDEC)

<br>Consumo  (MJ/km): 
{% if page.vehicle.consumption-mj-km-pbev %}
{% include numf.html number=page.vehicle.consumption-mj-km-pbev %} (PBEV)
/
{% endif %}
{% include numf.html number=page.vehicle.consumption-mj-km-epa %} (EPA)
/
{% include numf.html number=page.vehicle.consumption-mj-km-wltp %} (WLTP)
/
{% include numf.html number=page.vehicle.consumption-mj-km-ndec %} (NDEC)


{% if page.vehicle.tire %}
<br>PNEU(s) : {{ page.vehicle.tire }}
{% endif %}

{% if page.vehicle.ac-charging %}
<br>Conector AC : {{ page.vehicle.ac-connector-type }}
{% if page.vehicle.ac-phases %}
<br>Fases suportadas AC : {{ page.vehicle.ac-phases }}
{% endif %}

<br>Corrente Maxima suportada AC : 
{% if page.vehicle.ac-1p-max-current %}
{{ page.vehicle.ac-1p-max-current }} A (MONOFASICO) 
{% endif %}
{% if page.vehicle.ac-3p-max-current %}
/ {{ page.vehicle.ac-3p-max-current }} A (TRIFASICO)
{% endif %}
{% if page.vehicle.ac-max-power %}
<br>Potencia Maxima suportada AC : {% include numf.html number=page.vehicle.ac-max-power decimals=0 %} W
{% endif %}
{% if page.vehicle.ac-charging-notes-br %}
<br>{{ page.vehicle.ac-charging-notes-br }}
{% endif %}
{% endif %}

{% if page.vehicle.dc-charging %}
<br>Conector DC : {{ page.vehicle.dc-connector-type }}
<br>Potencia Maxima suportada DC : {% include numf.html number=page.vehicle.dc-max-power decimals=0 %} W
{% endif %}

{% if page.vehicle.obs %}
<br>Observações : {{ page.vehicle.obs }}
{% endif %}
<p>{{ page.vehicle.notes-br }}


{% if page.vehicle.url-br %}
<br>URL : <a href="{{ page.vehicle.url-br }}" target="_blank">{{ page.vehicle.url-br }}</a>
{% endif %}
{% if page.vehicle.forumve-url %}
<br><a href="https://www.forumve.com/forum/viewforum.php?{{ page.vehicle.forumve-url }}"
target="_blank">forumve</a>
{% endif %}
{% if page.vehicle.cnw-id %}
<br><a href="https://www.carrosnaweb.com.br/fichadetalhe.asp?codigo={{ page.vehicle.cnw-id }}" target="_blank">Carros na Web</a>
{% endif %}
{% if page.vehicle.cnw-url %}
<br><a href="https://www.carrosnaweb.com.br/catalogo.asp?{{ page.vehicle.cnw-url }}" target="_blank">Carros na Web Versões</a>
{% endif %}
{% if page.vehicle.evdb-url %}
<br><a href="https://ev-database.org/car/{{ page.vehicle.evdb-url }}" target="_blank">EV Database</a>
{% endif %}
{% if page.vehicle.evcompare-url %}
<br><a href="https://evcompare.io/cars/{{ page.vehicle.evcompare-url }}" target="_blank">EV Compare</a>
{% endif %}
{% if page.vehicle.links %}
{% for link in page.vehicle.links %}
<br><a href="{{ link['url'] }}" target="_blank">{{ link['url'] }}</a>
{% endfor %}
{% endif %}

{% if page.vehicle.revisoes %}
<table border="1">
<thead>
<tr><th colspan="2">Revisões - valores em {{ page.vehicle.revisoes.data-valores }}</th></tr>
<tr><th>km</th><th>R$</th></tr>
</thead>
<tbody>
{% assign total = 0 %}
{% for hash in page.vehicle.revisoes.valores %}
{% assign id = hash[0] %}
{% assign v = hash[1] %}
<tr><td align="right">{{ id }}</td><td align="right">{% include numf.html number=v decimals=2 %}</td>
{% assign total = total | plus: v %}
{% endfor %}

<tr><td align="right">Total</td><td align="right">{% include numf.html number=total decimals=2 %}</td>

</tbody>
<tfoot>
{% if page.vehicle.revisoes.obs %}
<tr><td colspan=2>Observações : {{ page.vehicle.revisoes.obs }}</td></tr>
{% endif %}

</tfoot>
</table>
{% endif %}

<hr>
<p>Todos os dados do veiculo em 
<a href="{{page.vehicle-id}}.json" target="_blank">JSON</a>, <a href="{{page.vehicle-id}}.yaml" target="_blank">YAML</a>
<p><a href="https://gitlab.com/forumve/evs-brasil/-/blob/master/_data/vehicles/{{page.vehicle-id}}.yaml" target="_blank">Definições</a>
